<footer class="bg-dark text-white pt-3" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="d-flex justify-content-around">
        <div>
          <p>&copy; MVPGames. Todos los derechos reservados.</p>
        </div>
        <div >
          <a href="#" class="text-decoration-none text-white">Soporte</a> | <a href="#" class="text-decoration-none text-white">Política de Privacidad</a> | <a href="#" class="text-decoration-none text-white">Términos y Condiciones</a>
        </div >
        <div >
            <a href=""><i class="bi bi-twitter-x text-white"></i></a> | <a href=""><i class="bi bi-facebook text-white"></i></a> | <a href=""><i class="bi bi-youtube text-white"></i></a> | <a href=""><i class="bi bi-instagram text-white"></i></a></div>
      </div>
    </div>
  </footer>
