<div class="container my-5 px-5">
  <div class="card">
    <div class="card-header pt-3 d-flex"><a routerLink="/admin/games" class="button nav-link mt-1"> <i class="bi bi-caret-left-fill"></i></a>
      <h5 class="fs-4 ms-3"> Actualizar juego</h5>
    </div>
    <div class="card-body px-5">
      <ol class="breadcrumb fs-6 bg-body-tertiary p-1 ps-3">
        <li class="breadcrumb-item"><a routerLink="">Inicio</a></li>
        <li class="breadcrumb-item"><a routerLink="/admin/games">games</a></li>
        <li class="breadcrumb-item active">Actualizar</li>
      </ol>
      <form [formGroup]="gameForm" (ngSubmit)="update()">
        <table class="table">
          <tr>
            <td>
              <div class="bg-body-secondary mb-2 pb-4">
                <h5 class="fs-5">Título</h5>
                <input
                  formControlName="title"
                  type="text"
                  class="form-control"
                  [placeholder]="actualGame.title"
                />
                <div
                  *ngIf="gameForm.get('title')?.errors?.['required'] && gameForm.get('title')?.touched"
                  class="alert alert-danger p-1 position-absolute"
                >
                  <span *ngIf="gameForm.get('author')?.errors?.['required']"
                    >Campo obligatorio</span
                  >
                </div>
              </div>
            </td>
            <td>
              <div class="bg-body-secondary mb-2 pb-4">
                <h5 class="fs-5">Desarrollador</h5>
                <input
                  formControlName="author"
                  [placeholder]="actualGame.author"
                
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="gameForm.get('author')?.errors?.['required'] && gameForm.get('author')?.touched"
                  class="alert alert-danger p-1 position-absolute"
                >
                  <span *ngIf="gameForm.get('author')?.errors?.['required']"
                    >Campo obligatorio</span
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="mb-2 pb-4">
                <h5 class="fs-5">Descripción</h5>
                <textarea
                  class="form-control"
                  formControlName="description"
                  [placeholder]="actualGame.description"
                  
                ></textarea>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="mb-2 bg-body-secondary pb-4">
                <h5 class="fs-5">Foto</h5>
                <input
                  type="file"
                  formControlName="photo"
                  class="form-control"
                  id="foto"
                  (change)="onFileSelected($event)"
                  accept="image/*"
                  
                />
                <div *ngIf="updatedGame.image != null" class="mt-4">
                  Previsualización:
                  <img [src]="updatedGame.image" alt="Preview" style="max-width: 100%;" class="mx-3">
                  <button class="btn btn-danger"><i class=" bi bi-x" (click)="deleteImage()"></i></button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="mb-2 pb-4">
                <h5 class="fs-5">Precio de venta</h5>
                <input
                  type="number"
                  formControlName="price"
                  class="form-control"
                  [placeholder]="actualGame.price"
                  
                />
                <div
                  *ngIf="gameForm.get('price')?.errors?.['required'] && gameForm.get('price')?.touched"
                  class="alert alert-danger p-1"
                >
                  <span>Campo obligatorio</span>
                </div>
              </div>
            </td>
            <td></td>
          </tr>
        </table>

        <div class="container my-3 bg-body-secondary pb-5 pt-2">
          <h5 class="fs-5">Categorias</h5>
          <div class="row">
            <div class="col-md-5">
              <label for="categorias" class="form-label"
                >Todas las categorías</label
              >
              <select
                multiple
                class="form-select"
                formControlName="selCategories"
                
              >
                <option
                  *ngFor="let category of categories"
                  [ngValue]="category"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
            <div class="col-md-2 text-center mt-4">
              <div
                class="d-flex flex-column justify-content-center align-items-center"
                style="height: 100%"
              >
                <button class="mb-1" type="button" (click)="addCategory()">
                  >
                </button>
                <button class="mb-1" type="button" (click)="deleteCategory()">
                  <
                </button>
                <button type="button" (click)="resetCategories()">Reset</button>
              </div>
            </div>
            <div class="col-md-5">
              <label for="categorias" class="form-label"
                >Categorías seleccionadas</label
              >
              <select
                multiple
                class="form-select"
                formControlName="delCategories"
              >
                <option
                  *ngFor="let category of updatedGame?.categories"
                  [ngValue]="category"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div> <button type="button" class="btn btn-success" routerLink="/admin/games"><i class="bi bi-arrow-left me-1"></i>Volver</button></div>
          <div> <button type="submit" class="btn btn-primary me-2">Actualizar</button></div>
            
            <div><button type="button" class="btn btn-danger" (click)="reset()">
              Limpiar
            </button></div>
          </div>      
      </form>
    </div>
  </div>
</div>
